body {
	margin: 0;
	padding: 0;
	background-color: #3c3c3c;
}
h1, h2, h5, h6{
	font-family: "Prata", serif;
	color: #fe6202;
	font-weight: 100;
}
h4, h3{
	font-family: 'Raleway', sans-serif;
	color: #3c3c3c;
}
p{
	font-size: 10px;
	color: #252525;
	font-family: 'Unna', serif;
}
header{
	width: 100%;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #252525; 

	.header__image{
		margin-right: 60px;
		img{
			height: 50px;
			width: 50px;
		}
	}
	.header__menu{
		display: flex;
		margin-right: 45px;
		.menu__item{
			border-bottom: 1px solid #fe6202;
			margin-right:15px;
			h6{
				font-weight: 100;
				font-size: 10px;
				margin: 0;
				padding: 26px 0;
			}
			img{

			}
			.menu__item__children{
				display: none;
			}
		}
	}
	.header__language{
		display: flex;
		h6:first-child{
			padding-right: 9px;
			margin-right: 9px;
			border-right: 1px solid #fe6202;
		}
	}
}
main{
	height: 100%;
	display: flex;
	justify-content: center;
	.main__background{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.page__content{
		z-index: 200;
		background-color: #f8f9f9;
		width: 717px;
		height: 100%;
	}
}